---
layout: site/default
script: about
title: About
cover: "about/cover.jpg"
---
{% comment %} {% include containers/hero/minimal.html
title="hi, I'm Diogo Russo"
subtitle="UX & Product Design"
legend="working at climate.com"
anchor="bio"
%} {% endcomment %}
{% include components/containers/hero/minimal.html
        title="hi, I'm Diogo Russo"
        subtitle="UX & Product Design"
        anchor="bio"
%}
<a id="bio"></a>
<div class="bio">
        <div class="bio-wrap">
                {% include components/content/bio/profile.html %}
                {% include components/content/bio/description.html %}
        </div>
</div>

{% include components/content/work/climate.html %}
{% include components/content/work/featured.html %}
<br/><br/><br/><br/><br/>
{% include components/content/design/process.html %}