---
layout: default
title: About
scripts: about
---

{% comment %} scripts: instagram {% endcomment %}

{% include components/hero/minimal.html
  title= "<span class=\"hide-sm\">Diogo Russo</span><span class=\"hide-md hide-lg hide-xl show-xs\">Diogo<br>Russo</span>"
  subtitle="<span class=\"hide-sm\">UX & Product Design</span> <span class=\"hide-md hide-lg hide-xl show-xs\">UX & Product<br>Design</span>"
  legend= "Combining design, technology and agriculture to help farmers feed the world at  <span class=\"weight-700\">climate.com</span>, San Francisco. Co-Founder and Creative Director of a Design Studio in Brazil. I'm a MBA in Design Strategy at California College of the Arts. I also Draw and make Art."
  bg_color="bg-dark"
  txt_color="txt-light"
  scroll_arrow="false"
  anchor="about"
%}

<a id="about"></a>
{% include content/bio/bio.html %}
{% comment %} {% include content/process/process.html %} {% endcomment %}
{% include summary.html %}

{% comment %}
  {% include featured.html %}
  {% include posts.html %}
  {% include artwork.html %}
  {% include content/journal/posts.html %}
{% endcomment %}