---
layout: default
title: About
scripts: about instagram
---

{% comment %} scripts: instagram {% endcomment %}



{% include components/hero/minimal.html
  title= "<span class=\"hide-sm reveal-text\">Diogo Russo</span><span class=\"hide-md hide-lg hide-xl show-xs\">Diogo<br>Russo</span>"
  subtitle="<div class=\"hide-sm\">UX & Product Design</div> <span class=\"hide-md hide-lg hide-xl show-xs\">UX & Product<br>Design</span>"
  legend= "Combining design, technology, and agriculture to help farmers feed the world at  <span class=\"weight-700\">climate.com</span>, San Francisco. Co-Founder and Creative Director of Estúdio Berinjela, a Design Studio in Brazil. I'm an MBA in Design Strategy.<br class=\"hide-md hide-lg hide-xl\"/> I like to play with Data &  Coding.<br class=\"hide-md hide-lg hide-xl\"/> I also Draw and make Art."
  bg_color="bg-dark"
  txt_color="txt-light"
  scroll_arrow="true"
  anchor="about"
%}

<a id="about"></a>
{% include content/bio/bio.html %}
{% comment %} {% include content/process/process.html %} {% endcomment %}
{% include summary.html %}


{% comment %} <div class="row portfolio-title">
        <div class="col-xs-12">
          <h1 class="squiggle">Work & Have Fun</h1>
          <h3>Artwork + Design Lab + Journal</h3>
          <br/>
        </div>
</div> {% endcomment %}
{% comment %} {% include journal.html %}


<div class="row portfolio-title">
        <div class="col-xs-12">
          <h1 class="squiggle">Digital Sketchbook</h1>
          <h3>Random Shots</h3>
          <br/>
        </div>
</div> {% endcomment %}
{% comment %} 
<div class="row box section spacing">
  <div class="col-xs-12">
    {% include api/instagram/instagram.html %}
  </div>
</div> {% endcomment %}




{% comment %}
  {% include featured.html %}
  {% include posts.html %}
  {% include artwork.html %}
  {% include content/journal/posts.html %}
{% endcomment %}
