<div class="climate-corp">
  <div class="header">
    <h2>Digital Tools for Farmers</h2>
    <h3>
      Product Design at 
      <a href="https://www.climate.com" style="color:white" target="_blank">Climate Corporation</a>
    </h3>
  </div>
  <div class="box">
    <div class="grid-flex">
      {% include containers/card/featured.html
        url="https://work.diogorusso.com/data-driven-fertility-fertility-prescriptions"
        thumb="climateRX.jpg"
        title="Advanced Variable Rate Seed Prescriptions"
        category="Password Required"
      %}
      {% include containers/card/featured.html
        url="https://work.diogorusso.com/predictive-seed-placement-recommendations"
        thumb="climateSA.jpg"
        title="Predictive Seed Placement Recommendations"
        category="Password Required"
      %}
      {% include containers/card/featured.html
        url="https://work.diogorusso.com/digital-tools-for-international-large-farms"
        thumb="climateBR.jpg"
        title="Digital Solutions for Large Farms in Brazil"
        category="Password Required"
      %}
    </div>
  </div>
  {% comment %} <div class="more-projects">
    <a href="http://work.diogorusso.com/" class="button button-climate">
      view more
    </a>
  </div> {% endcomment %}
</div>