<section class="section-spacing">
         {% comment %} <div class="row portfolio-title">
            <div class="col-xs-12">
                    <h1>Ideas</h1>
                    <h3>Art is work. Tools definen the Craft :)</h3>
                    <br/>
            </div>
          </div> {% endcomment %}
        <div class="box">
          <div class="row">
                  {% capture img_kenner %}
                    {{ site.cdn }}{{ include.version }}sec1.jpg
                  {% endcapture %}
                  {% include components/card/portfolio.html 
                          url="https://work.diogorusso.com/illustration-art" 
                          title="Artwork" 
                          categories="Image Creation, Public Instalations, Events  and Collaborative Explorations" 
                          img=img_kenner
                  %}
                  {% capture img_foodtopia %}
                    {{ site.cdn }}{{ include.version }}sec4.jpg
                  {% endcapture %}
                  {% capture url_foodtopia %}
                    {{ site.baseurl }}/ideas
                  {% endcapture %}
                  {% include components/card/portfolio.html 
                          url="https://www.notion.so/Journal-5c0230c00e6e43c59140861bac1d421f" 
                          title="Random Notes" 
                          categories="Ideas, resources. methods and tools to bring ideas to life and make things happen. " 
                          img=img_foodtopia 
                  %}
                  {% comment %} {% capture img_kenner %}
                    {{ site.cdn }}{{ include.version }}sec2.jpg
                  {% endcapture %}
                  {% capture url_kenner %}
                    {{ site.baseurl }}/learn
                  {% endcapture %}
                  {% include components/card/portfolio.html 
                          url=url_kenner 
                          title="Learn" 
                          categories="Design, Data & Dev" 
                          img=img_kenner
                  %}
                  {% capture url_foodtopia %}
                    {{ site.baseurl }}/lab
                  {% endcapture %}
                  {% capture img_foodtopia %}
                    {{ site.cdn }}{{ include.version }}sec3.jpg
                  {% endcapture %}
                  {% include components/card/portfolio.html 
                          url=url_foodtopia 
                          title="Lab" 
                          categories="Projects + Experiments" 
                          img=img_foodtopia 
                  %}
                  {% capture url_kenner %}
                    {{ site.baseurl }}/essays/
                  {% endcapture %} {% endcomment %}
          </div>
        </div>
</section>
