<section style="padding:3rem 0;background:url('/assets/cdn/transp_bg.png')repeat;">
<div class="row" style="max-width:590px; margin:3rem auto;text-align:center; padding:0 1.5rem;">
                <div class="col-xs-12">
                      <h1>Solving wicked problems through user research and  brute force design. I help businesses, individuals and communities craft meaningful<br>
                    <span class="txt-rotate" data-period="1000" data-rotate="[ &quot;PRODUCTS&quot;, &quot;EXPERIENCES&quot;,&quot;MEMORIES&quot;]"><span class="wrap">PRODUCTS</span></span></h1>
                      <br/><br/>
                      <a href="https://www.linkedin.com/in/diogorusso/?locale=en_US" class="button" target="_blank" rel="noopener">View Full Bio</a>
                      {% comment %} <h2>I'm a Product Designer at the Climate Corporation, San Francisco. I was the creative-director and co-founder of a design studio in Brazil. I'm a MBA in Design Strategy. I also draw and make art.</h2> {% endcomment %}
                </div>
        </div>
</section>
<div class="row portfolio-title" style="margin: 9rem auto 3rem">
        <div class="col-xs-12">
                <h1 class="squiggle">Digital Tools for Farmers</h1>
                <h3>UX & Product Design at CLIMATE.COM</h3>
                <br/>
        </div>
</div>

{% comment %} <div class="row portfolio-title">
                <div class="col-xs-12">
                        <h2>Digital Tools for Farmers</h2>
                        <h3>
                                Product Design at <a href="www.climate.com">Climate.com</a>
                        </h3>
                </div>
        </div> {% endcomment %}

<div class="projects-climate">
        
        {% capture img_sync %}
                {{ site.cdn }}{{ include.version }}featured/sync-3.jpg
        {% endcapture %}
        {% include components/card/large.html 
                img=img_sync
                bg_color="#64b8db"
                url="https://work.diogorusso.com/data-mule-for-large-farming-operations" 
                title="Data Mule for Large Farming Operations"
                buttonLabel="Read Case"
                categories="Enabling Farmers to Collect Field Data Through P2P Wireless Connections" 
        %}
        {% capture img_sa %}
         {{ site.cdn }}{{ include.version }}featured/sa.jpg
        {% endcapture %}
        {% include components/card/large.html
                img=img_sa
                bg_color="#a9dd54"
                url="https://work.diogorusso.com/predictive-seed-recommendations" 
                title="Predictive Seed Recommendations"
                buttonLabel="Read Case"
                categories="Pushing the Limits of Technology to Streamline Planting and Increase Yield"
        %}
        {% capture img_rx %}
                {{ site.cdn }}{{ include.version }}featured/rx-ad-2.jpg
        {% endcapture %}
        {% include components/card/large.html 
                url="https://work.diogorusso.com/data-driven-fertility-prescriptions" 
                title="Advanced Seed Prescriptions"
                categories="Using Historical Field Data to Help Farmers Optimize Seed Investment"
                buttonLabel="Read Case"  
                img=img_rx
                bg_color="#e27ada" 
        %}
        {% comment %} {% capture url_foodtopia %}
                {{ site.baseurl }}/lab/ux-toolkit
        {% endcapture %}
        {% capture img_rx %}
                {{ site.cdn }}{{ include.version }}strategy-kit.jpg
        {% endcapture %}
        {% include components/card/large.html 
                url=url_foodtopia 
                title="UX Strategy Toolkit"
                categories=" Frameworks + Templates Colection"
                buttonLabel="View More"  
                img=img_rx
                bg_color="#9478d7" 
        %}
        {% capture url_foodtopia %}
                {{ site.baseurl }}/lab/prototyping
        {% endcapture %}
        {% capture img_sync %}
                {{ site.cdn }}{{ include.version }}ui.jpg
        {% endcapture %}
        {% include components/card/large.html 
                img=img_sync
                bg_color="#fa6f87"
                url="https://work.diogorusso.com/data-mule-for-large-farming-operations" 
                title="UI & Motion Design Exploration"
                buttonLabel="View More"
                categories="Shots + Resources" 
        %} {% endcomment %}



        <div class="row portfolio-title">
        <div class="col-xs-12">
                <h1 class="squiggle">More Work ...</h1>
                <h3>My unique background and diverse skillset give me the ability to combine DESIGN + STRATEGY to build products that solve real problems.</h3>
                <br/>
        </div>
</div>
        {% capture img_dmba %}
                {{ site.cdn }}{{ include.version }}work2.jpg,
                {{ site.cdn }}{{ include.version }}work1.jpg,
                {{ site.cdn }}{{ include.version }}work4.jpg,
                {{ site.cdn }}{{ include.version }}work3.jpg,
                {{ site.cdn }}{{ include.version }}work14.jpg,
                {{ site.cdn }}{{ include.version }}work6.jpg
        {% endcapture %}
        {% include components/card/large.html
                type="slider" 
                url="https://work.diogorusso.com/" 
                        title="Design Strategy + Creative Direction" 
                categories="I was the Co-Founder and Creative Director of Estúdio Berinjela, a design studio in Brazil. I'm an MBA in Design Strategy."
                buttonLabel="View More" 
                img=img_dmba
                bg_color="#80f4df" 
        %}
        {% comment %} {% capture img_dmba %}
                {{ site.cdn }}{{ include.version }}featured/lpc.jpg,
                {{ site.cdn }}{{ include.version }}featured/babs.jpg,
                {{ site.cdn }}{{ include.version }}featured/foodtopia.jpg
        {% endcapture %}
        {% include components/card/large.html
                type="slider" 
                url="https://work.diogorusso.com/launchpad" 
                        title="Experience + Strategy Design Projects" 
                categories="User Research, Strategic Insights & UX Design"
                buttonLabel="View Projects" 
                img=img_dmba
                bg_color="#80f4df" 
        %}
        {% capture img_dmba %}
                {{ site.cdn }}{{ include.version }}featured/lpc.jpg
        {% endcapture %} {% endcomment %}
        {% comment %} {% include components/card/large.html 
                url="https://work.diogorusso.com/launchpad" 
                        title="Launchpad Central Platform" 
                categories="UX + Visual Design for a Lean Innovation Management and Market Validation Platform"
                buttonLabel="View Project" 
                img=img_dmba
                bg_color="#80f4df" 
        %} {% endcomment %}
        {% comment %} {% capture img_creative_dir %}
                {{ site.cdn }}{{ include.version }}featured/babs.jpg
        {% endcapture %}
        {% include components/card/large.html
                url="https://work.diogorusso.com/bike-share-market-insights" 
                title="Bay Area Bike Share"
                categories="User Research, Market Landscape, Strategic Insights and Recommendations"
                buttonLabel="View Project"
                img=img_creative_dir
                bg_color="#fa6f87"
                 
        %} {% endcomment %}
        {% comment %} {% capture img_creative_dir %}
                {{ site.cdn }}{{ include.version }}featured/br.jpg,
                {{ site.cdn }}{{ include.version }}featured/sesc.jpg,
                {{ site.cdn }}{{ include.version }}featured/art.jpg
        {% endcapture %}
        {% include components/card/large.html
                type="slider"
                url="https://work.diogorusso.com/creative-direction" 
                title="Creative Direction for Graphics & Motion"
                categories="Co-Founder and Creative Director of Estúdio Berinjela <br/> a Design Studio in Brazil"
                buttonLabel="View Projects"
                img=img_creative_dir
                bg_color="#db404f"
                 
        %} {% endcomment %}
        {% comment %} {% capture img_kenner %}
          {{ site.cdn }}{{ include.version }}featured/art.jpg
        {% endcapture %}
        {% include components/card/large.html 
                url="https://work.diogorusso.com/illustration-art" 
                title="Illustration & Art" 
                categories="Image Creation, Public Instalations, Events  and Collaborative Explorations"
                buttonLabel="Go to Artwork" 
                img=img_kenner
                bg_color="#7392e8"
        %} {% endcomment %}
</div>