<div class="row portfolio-title">
                <div class="col-xs-12">
                      <h1>I help businesses, individuals and communities craft meaningful<br>
                    <span class="txt-rotate" data-period="1000" data-rotate="[ &quot;PRODUCTS&quot;, &quot;EXPERIENCES&quot;,&quot; MEMORIES&quot;, &quot; RELATIONSHIPS&quot;]"><span class="wrap">EXPERIENCES</span></span></h1>
                      <br/><br/>
                      <a href="https://www.linkedin.com/in/diogorusso/?locale=en_US" class="button" target="_blank" rel="noopener">view full bio</a>
                      {% comment %} <h2>I'm a Product Designer at the Climate Corporation, San Francisco. I was the creative-director and co-founder of a design studio in Brazil. I'm a MBA in Design Strategy. I also draw and make art.</h2> {% endcomment %}
                </div>
        </div>


{% comment %} <div class="row portfolio-title">
                <div class="col-xs-12">
                        <h2>Digital Tools for Farmers</h2>
                        <h3>
                                Product Design at <a href="www.climate.com">Climate.com</a>
                        </h3>
                </div>
        </div> {% endcomment %}

<div class="projects-climate">
        
        {% capture img_sync %}
                {{ site.cdn }}{{ include.version }}featured/sync-3.jpg
        {% endcapture %}
        {% include components/card/large.html 
                img=img_sync
                bg_color="#64b8db"
                url="https://work.diogorusso.com/data-mule-for-large-farming-operations" 
                title="Data Mule for Large Farming Operations"
                buttonLabel="Read Case"
                categories="Product Design" 
        %}{% capture img_sa %}
         {{ site.cdn }}{{ include.version }}featured/sa.jpg
        {% endcapture %}
        {% include components/card/large.html
                img=img_sa
                bg_color="#a9dd54"
                url="https://work.diogorusso.com/predictive-seed-placement-recommendations" 
                title="Predictive Seed Recommendations"
                buttonLabel="Read Case"
                categories="Product Design"
        %}
        {% capture img_rx %}
                {{ site.cdn }}{{ include.version }}featured/rx-ad-2.jpg
        {% endcapture %}
        {% include components/card/large.html 
                url="https://work.diogorusso.com/data-driven-fertility-prescriptions" 
                title="Advanced Seed Prescriptions"
                categories="UX + Product Design"
                buttonLabel="Read Case"  
                img=img_rx
                bg_color="#e27ada" 
        %}
        {% comment %} {% capture url_foodtopia %}
                {{ site.baseurl }}/lab/ux-toolkit
        {% endcapture %}
        {% capture img_rx %}
                {{ site.cdn }}{{ include.version }}strategy-kit.jpg
        {% endcapture %}
        {% include components/card/large.html 
                url=url_foodtopia 
                title="UX Strategy Toolkit"
                categories=" Frameworks + Templates Colection"
                buttonLabel="View More"  
                img=img_rx
                bg_color="#9478d7" 
        %}
        {% capture url_foodtopia %}
                {{ site.baseurl }}/lab/prototyping
        {% endcapture %}
        {% capture img_sync %}
                {{ site.cdn }}{{ include.version }}ui.jpg
        {% endcapture %}
        {% include components/card/large.html 
                img=img_sync
                bg_color="#fa6f87"
                url="https://work.diogorusso.com/data-mule-for-large-farming-operations" 
                title="UI & Motion Design Exploration"
                buttonLabel="View More"
                categories="Shots + Resources" 
        %} {% endcomment %}
        {% capture img_dmba %}
                {{ site.cdn }}{{ include.version }}featured/lpc.jpg
        {% endcapture %}
        {% include components/card/large.html 
                url="https://work.diogorusso.com/launchpad" 
                        title="Lean Innovation Platform" 
                categories="UX + Strategy Design"
                buttonLabel="Go to Project" 
                img=img_dmba
                bg_color="#80f4df" 
        %}
        {% comment %} {% capture img_creative_dir %}
                {{ site.cdn }}{{ include.version }}featured/babs.jpg
        {% endcapture %}
        {% include components/card/large.html
                url="https://work.diogorusso.com/creative-direction" 
                title="Graphics, Interaction & Motion Design"
                categories="Creative Direction"
                buttonLabel="Go to Projects"
                img=img_creative_dir
                bg_color="#fa6f87"
                 
        %} {% endcomment %}
        {% capture img_kenner %}
          {{ site.cdn }}{{ include.version }}featured/art.jpg
        {% endcapture %}
        {% include components/card/large.html 
                url="https://work.diogorusso.com/illustration-art" 
                title="Illustration & Art" 
                categories="Events + Gallery"
                buttonLabel="Go to Artwork" 
                img=img_kenner
                bg_color="#7392e8"
        %}
        {% capture img_creative_dir %}
                {{ site.cdn }}{{ include.version }}featured/br.jpg
        {% endcapture %}
        {% include components/card/large.html
                url="https://work.diogorusso.com/creative-direction" 
                title="Graphics, Interaction & Motion Design"
                categories="Creative Direction"
                buttonLabel="Go to Projects"
                img=img_creative_dir
                bg_color="#db404f"
                 
        %}
</div>