<header class="masthead">
    <div class="masthead-wrap center-content">
        <a href="#bio" class="page-scroll">
            <h1>
                hi, I'm Diogo Russo<br class="show-for-small-only">
            </h1>
           
            <h2>
                Product Designer, Artist and Storyteller.
                {% comment %} <br> based in San Francisco. {% endcomment %}
            </h2>
            <h3>working at climate.com</h3>
        </a>
    </div>
    <div class="arrow-wrap"> 
        <a href="#bio" class="page-scroll">
           <span id="scroll-arrow">👇</span>
        </a>
    </div>
</header>