---
layout: site/sidebar
title: Work
script: about
---
<div class="box">
  <div class="row">
  {% for post in site.posts %}
    {% if post.categories contains 'work' %}
      {% include components/containers/card/post.html %}
    {% endif %}
  {% endfor %}
  </div>  
<div>

{% comment %} <ul>
{% for category in site.categories %}
  <li><a name="{{ category | first }}">{{ category | first |replace: "-", " " }}</a>
    <ul>
    {% for post in category.last %}
      <li><a href="{{ post.url }}.html">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul> {% endcomment %}



