<a id="bio"></a>
<div class="bio">
        <div class="bio-wrap">
                <div style="display:flex;width:100%;flex-flow:row wrap;">
                        <div class="profile">
                                <img src="{% include img/loader.html %}"  data-src="{{ site.cdn }}about/diogo-russo.jpg" alt="{{site.title}}">
                                <noscript><img src="{{ site.cdn }}about/diogo-russo.jpg" alt="{{site.title}}"></noscript>
                        </div>
                        <div class="sign-wrap">
                                <div class="sign">
                                        {% include img/d-sign.html %}
                                        <p>UX + Product Design,<br>Illustration and Artwork</p>
                                </div>
                                {% include img/d-sign-bg.html class="sign-bg" %}
                        </div>
                </div>
                <div class="description">
                
                        <h2> I help businesses, individuals and communities craft meaningful<br>
                                <span class="txt-rotate" data-period="1000" data-rotate="[ &quot;PRODUCTS&quot;, &quot;EXPERIENCES&quot;,&quot; MEMORIES&quot;, &quot; RELATIONSHIPS&quot;]"><span class="wrap">EXPERIENCES</span></span>
                        </h2>
                        <br>
                        <a href="https://www.linkedin.com/in/diogorusso/?locale=en_US" class="button" target="_blank" rel="noopener">view full bio</a>
                </div>
        </div>
</div>